body {
    
    height: 40vh;
    margin: 0 ;
    padding-top: 0px;
}


.coverSize{
	background-color: #17a2b8;
	text-align: center;
	padding-top: 15vh;
	height: 40vh;
}
.textabout{
text-align:center;
padding-top: 50px;

}

.uni{
	text-align: center;
	background-color: #989da2;
}
.table{
	margin-bottom: 144px;
}